# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

### 1.Solution

In [1]:
### Importing pandas and using the above code
import pandas as pd
pd.set_option('display.max_colwidth', None)

In [2]:
### Importing the dataset into a DataFrame object for analysis
jeopardy_df = pd.read_csv('jeopardy.csv')
jeopardy_df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

The instructions say that something is odd with regards to the column names. I took that to mean it may be cumbersome to complete my analysis using column names in the `.title()` string format. I originally attempted to format the column names to `column_name` formating using the following code:

```
jeopardy_df.rename(columns = {"Show Number": "show_number",
                              "Air Date": 'air_date',
                              ..., inplace = True})
```

When I printed the above altered DataFrame object, I noticed that only the "Show Number" column had done what I expected. Further investigation revealed leading white space, hence the failure of my code to produce what I wanted. I will correct this by doing the following:

In [3]:
columns = jeopardy_df.columns.to_list()
jeopardy_df.rename(columns = {column:column.lower().strip().replace(" ","_") for column in columns}, inplace = True)
jeopardy_df.head()

,show_number,air_date,round,category,value,question,answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

I notice that the `value` column contains strings due to the the presence of the leading $\$$. I will remove the $\$$ and transform the values to floats for analysis.

In [4]:
dollar_sign_removal = lambda value: float(value.strip('$').replace(",", "")) if value != 'None' else None

jeopardy_df.value = jeopardy_df.value.apply(dollar_sign_removal)
jeopardy_df.head()

,show_number,air_date,round,category,value,question,answer
0,4680,2004-12-31,Jeopardy!,HISTORY,200.0,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,200.0,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,200.0,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,200.0,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,200.0,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [33]:
def question_filter(df, filter_key):
    '''
    This function will filter the input dataframe
    by questions containing the word or words in
    the filter_key.
    '''
    if (type(filter_key) == str) or (type(filter_key) == list):
        if (type(filter_key) == list):
            filter_lambda = lambda question: True if all(" " + word.lower() + " " in question.lower() for word in filter_key) else False
            df['passes_filter'] = df.question.apply(filter_lambda)
            filtered_df = df[df.passes_filter == True].drop(columns = 'passes_filter')
            return filtered_df
        elif (type(filter_key) == str):
            filter_lambda = lambda question: True if " " + filter_key.lower() + " " in question.lower() else False
            df['passes_filter'] = df.question.apply(filter_lambda)
            filtered_df = df[df.passes_filter == True].drop(columns = 'passes_filter')
            return filtered_df
    else:
        raise TypeError('Invalid filter key type. Must be list or string.')

king_england_df = question_filter(jeopardy_df, ['King', 'England'])
print(len(king_england_df))

51

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

Completed above.

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

Completed above.

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [34]:
def counting_anwsers_w_filter(df, filter_key):
    '''
    This function will take the input dataframe,
    fitler it by questions containing the word or 
    words in the filter_key and count the frequency
    of unique answers.
    '''
    filtered_df = question_filter(df, filter_key)
    answer_counts_df = filtered_df.groupby('answer').show_number.count().reset_index().rename(columns = {'show_number': 'frequency'})
    return answer_counts_df

king_counts_df = counting_anwsers_w_filter(jeopardy_df, 'king')
print(king_counts_df[king_counts_df.frequency == king_counts_df.frequency.max()])

         answer  frequency
380  Henry VIII         31

The question prompt says they saw "Henry VIII" appear 55 times. I found the same answer when removing the considerations in my `question_filter` function related to ensure I was only looking for each word. When removing this, and thus also considering not only the words within the filter and also words with filter key words inside them, I see "Henry VIII" appear 55. My code above now only considers answers to questions containing only the word(s) in the filter while ignoring questions with words containing the filter key words.

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.